*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    background-color: rgb(8, 8, 109);
}
h1{
    font-size: 10vmin;
    color: #fff;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(8, 8, 109);
    gap: 1.5vmin;
}
.game button{
    height: 18vmin;
    width: 18vmin;
    font-size: 4rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(210, 87, 87);
    color: #fff;
}
.resetbtn{
    height: 7vmin;
    width: 20vmin;
    font-size: 1.25rem;
    background-color: rgba(67, 67, 192, 0.763);
    color: #fff;
    border: none;
    border-radius: 1rem;
}
.msg{
    margin-top: 1rem;
    height: 100vh;
}
.msg p{
    font-size: 15vmin;
    color: #fff;
    margin-top: 25vh;
    margin-bottom: 10px;
}
.reset{
    margin-bottom: 2rem;

}
.hide{
    display: none;
}
.restartbtn{
    height: 7vmin;
    width: 20vmin;
    font-size: 1.25rem;
    background-color: rgba(67, 67, 192, 0.763);
    color: #fff;
    border: none;
    border-radius: 1rem;
}